body{
    padding:70px;
    background: url(http://picsnook.com/wp-content/uploads/2017/11/Volkswagen-Beetle-cars-old-classic-car-1366x768.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    
}

html{
height: 100%;
}

.custom-nav{
    background-color: #d9dce2;
}

.custom-text{
    color: #646668;
}

#content{
text-align: center;
padding-top: 13%;
margin : auto 70%;
text-shadow: 0px 2px 2px gray;
color : white;
font-size: 7em;
background: blue;
}

#head1{
font-weight: 900;
color: white;
background: blue;

/* font-size: 5em; */
}

.head3{
color: white;
padding-bottom: 10%;
margin : auto 80%;
background-color: #ffffff;
}

.transbox {
    
    /* margin: auto auto; */
    background-color: grey;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    width : 500px;
  }

hr{
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgb(0 0 0 0.2);
}
